<%- include("../includes/head") %>
   <section class="mx-auto">
    <a href="/">Go back login</a>
    <h1 class="title">Reset Password</h1>
    
    <% if(errorMsg) {%>
        <p class="msg-box"><%= errorMsg %></p>
        <% } %>

    <form action="/reset" method="post">
        <input hidden value="<%= csrfToken%>" name="_csrf" value="<%= oldFormData.email%>"/> 

        <div><label for="email">Enter email</label>
            <input type="text" id="email" name="email" ></div>
        
        <button>Reset password</button>
        </form>
   </section>
   <%- include("../includes/foot")%>